a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Dynalight", "Lato";
    margin: 0px;
    background: #edeae5;
}

#background {
    background: url('../img/background1.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
#background-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
#hero {
    font-family: "Dynalight", cursive;
    position: absolute;
    color: white;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 250;
    bottom: 250;
}
#subheading {
    font-size: 24px;
}
#heading {
    font-size: 108px;
}
#modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 10;
}
#modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}
#modal-box {
    width: 750px;
    height: 500px;
    background-color: #f0f0f0;
    z-index: 100;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 40%);
    left: calc(50% - 28%);
    z-index: 100;
}
#modal-image-container {
    width: 75%;
    height: 70%;
    margin: 0 auto;
}
#modal-image {
    height: 100%;
    overflow: hidden;
    margin-left: 20%;
    border-radius: 5%;
}
#modal-header {
    font-family: Lato;
    font-size: 36px;
    text-align: center;
    padding: 20px 60px 10px 60px;
    font-weight: 700;
    text-transform: uppercase;
}
#modal-description {
    padding: 20px 80px 10px 80px;
    font-family: Lato;
    text-align: center;
}
#arrow-left {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    left: 130px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}
#arrow-left img {
    width: 20px;
    height: 20px;
}
#arrow-right {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    right: 130px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}
#arrow-right img {
    width: 20px;
    height: 20px;
}
#content {
    position: relative;
    top: -60px;
    z-index: 0;
}

#nav {
    background: rgba(76, 87, 101, 0.6);
    color: white;
    width: 100%;
    z-index: 100;
}
#nav .container {
    padding: 18px 0px;
}
#nav-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    float: left;
    line-height: 24px;
}
.nav-title-active {
    color: black;
    cursor: pointer;
}
.container {
    width: 960px;
    margin: 0px auto;
}
#nav-item-container {
    float: right;
}
.item-container {
    margin: 0 auto;
    padding-bottom: 40px;
}
.section-title {
    font-family: "Dynalight", cursive;
    text-align: center;
    font-size: 128px;
    padding: 20px;
}
.nav-item {
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin-left: 44px;
    font-weight: 300;
}
.nav-item-active {
    color: black;
    cursor: pointer;
}
.sticky-nav {
    position: fixed;
    top: 0px;
}
.item {
    padding: 40px 30px;
    display: inline-block;
    position: relative;
}
.img-circle {
    border-radius: 50%;
}
.item img {
    height: 250px;
    width: 250px;
}
.img-overlay {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    margin: auto;
    left: 30;
    right: 30;
    top: 40;
    bottom: 40;
}
.img-overlay-active {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.item-text {
    display: none;
}
.item-text-active {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Lato";
    color: white;
    font-size: 20px;
}
#out {
    background-color: #6f6f6f;
}
#out .section-title {
    color: white;
}
#home {
    background-color: #edeae5;
}
.no-scroll {
    overflow: hidden;
}
#about-img {
    float: left;
    height: 330px;
    margin: 0px 20px;
}
#about-img img {
    height: 275px;
}
#about-content {
    line-height: 30px;
}
